<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta content="text/html; charset=utf-8"
 http-equiv="content-type">
  <title>Henson SCAP</title>
  <style>
        body {
        font-family:"lucida grande",tahoma,arial,sans-serif;
        font-size:11px;
        margin:5;
        padding:5;
        }
  </style>
</head>
<body>
<h2>Search Vulnerabilities</h2>
<form method="post" action="/search/results">
         <input name="q" value="<%= params[:q]%>" size="30"> <input value="search" type="submit">
</form>

<div id='results'>
<ol>
	
<%@results.each {|result| %>
<table>
	<tr>
		<th>ID: </th>
		    <th>Vulnerable Software List</th>
				<th>Publshed Datetime</th>
				<th>Summary</th>
	</tr>
<td><%= result['obj']['id'] %></td>
<td><%= result['obj']['vulnerable_software_list']['product'] %></td>
<td><%= result['obj']['published_datetime'] %></td>
<td><%= result['obj']['summary'] %></td>
<li><a href="/vulnerabilities/<%= result['obj']['id']%>">
	Explore this Vulnerability</a></li>	
	<% } unless @results.nil? %>
</ol>
</div>
</body>
</html>